#options
{
/*+placement:displace 0px 0px;*/
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}
#battleScreen
{
  height: 200px;
  width: 300px;
  background-color: #E58F8F;
  position: relative;
}
#hero .hp
{
/*+placement:displace 113px 158px;*/
  position: absolute;
  margin-left: 113px;
  margin-top: 158px;
}
#enemy .hp
{
/*+placement:displace 12px 8px;*/
  position: absolute;
  margin-left: 12px;
  margin-top: 8px;
}
#hero .portrait
{
/*+placement:shift 7px 92px;*/
  position: relative;
  left: 7px;
  top: 92px;
  position: absolute;
}
#enemy .portrait
{
/*+placement:shift 191px 8px;*/
  left: 191px;
  top: 8px;
  position: absolute;
}
