#container
  #game
    #battleScreen
      #enemy
        .portrait
          %img(src='')
        .hp 100
      #hero
        .portrait
          %img(src="")
        .hp 50

    #message
    #options
      #attacks
        If you're seeing this, something went wrong