#container
  #game
    #battleScreen
      #enemy
        .portrait
          %img(src='')
        #stats
          .name
          .level
          .hp 100
      #hero
        .portrait
          %img(src="")
        #stats
          .name
          .level
          .hp 50

    #message
    #options
      #techniques
        If you're seeing this, something went wrong